<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL Database Connection Configuration -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/food_ordering</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456</property>
        
        <!-- PostgreSQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        
        <!-- Performance Settings -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Connection Pool Settings -->
        <property name="hibernate.connection.pool_size">20</property>
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Batch Settings -->
        <property name="hibernate.jdbc.batch_size">25</property>
        <property name="hibernate.jdbc.fetch_size">20</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.batch_versioned_data">true</property>
        
        <!-- Cache Settings -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        
        <!-- Entity mappings -->
        <mapping class="com.myapp.common.models.User"/>
        <mapping class="com.myapp.common.models.Restaurant"/>
        <mapping class="com.myapp.common.models.FoodItem"/>
        <mapping class="com.myapp.common.models.Order"/>
        <mapping class="com.myapp.common.models.OrderItem"/>
        <mapping class="com.myapp.common.models.Transaction"/>
        <mapping class="com.myapp.common.models.Rating"/>
        <mapping class="com.myapp.common.models.Coupon"/>
        <mapping class="com.myapp.common.models.CouponUsage"/>
        <mapping class="com.myapp.common.models.Favorites"/>
        <mapping class="com.myapp.common.models.Notification"/>
    </session-factory>
</hibernate-configuration> 